.logged-in-user-wrapper {
  border: 2px solid var(--secondary-color-light);
}
.avatar-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar-text-wrapper {
  text-align: center;
  margin-bottom: 0.5em;
}
.avatar-text-wrapper p {
  font-size: 0.8em;
  cursor: pointer;
}
.avatar-text-input-wrapper {
  position: absolute;
  z-index: 100;
  border: 2px solid var(--secondary-color-light);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.avatar-text-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
