nav {
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Active for Routes */
.active {
  border-left: 4px solid var(--error-color);
  background-color: var(--neutral-color);
  color: var(--primary-color-dark);
  padding: 7px 4px;
}
